*,
::before,
::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.about {
  background-color: tomato;
  padding: 30px;
  margin-bottom: 0;
  border: 1px solid #000;
}
.services {
  display: flex;
  background-color: teal;
  margin-bottom: 40px;
  flex-flow: column wrap;
  align-items: center;
}
